@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\000037}}
html,
body,
main {
  min-height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000313}}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000319}}
body {
  overflow: hidden;
  *zoom: 1;
  font-family: sans-serif, Helvetica, Arial;
  color: #4b4b57; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000325}}
main,
nav {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000330}}
main {
  overflow: hidden;
  *zoom: 1;
  background: #f7f7f8;
  padding: 2em;
  color: #4b4b57; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000337}}
header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  text-align: right;
  position: relative;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  padding: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000348}}
  header .menu-trigger {
    width: 60px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    top: 0;
    font-size: 0.8em;
    left: 0;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000359}}
    header .menu-trigger:hover {
      background: #fafafa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000363}}
    header .menu-trigger:active {
      background: #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000368}}
  header p {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000372}}
  header a {
    text-decoration: none;
    color: #a3a3b1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000378}}
nav {
  display: none;
  text-align: center;
  color: #a3a3b1;
  font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000384}}
  nav .navigation-header {
    display: none;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5;
    padding: 0.82em;
    border-bottom: 1px solid #e8e8e8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000393}}
  nav .search {
    margin: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\0000397}}
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003103}}
  nav input {
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003107}}
  nav a {
    text-decoration: none;
    color: #a3a3b1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003111}}
    nav a:hover {
      background: #fafafa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003115}}
    nav a:active {
      background: #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003120}}
  nav p {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003125}}
  nav li.collection a {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003132}}
  nav li.collection-active {
    background: #f7f7f8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003137}}
.pager {
  overflow: hidden;
  *zoom: 1;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003141}}
  .pager a {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0 20px;
    background-position: 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003148}}
    .pager a:hover {
      background-position: 0px -44px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003153}}
  .pager .pager-next {
    background: url(../images/paginator_right.png) no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003157}}
  .pager .pager-previous {
    background: url(../images/paginator_left.png) no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003162}}
.article {
  overflow: hidden;
  *zoom: 1;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003169}}
  .article .image_holder {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003175}}
    .article .image_holder img {
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003179}}
  .article .text_holder {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-size: 0.8em;
    line-height: 1.3em;
    color: #a3a3b1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003185}}
    .article .text_holder * {
      font-size: 1em;
      line-height: 1.3em;
      color: #a3a3b1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003192}}
    .article .text_holder .raw_text img {
      max-height: 550px;
      margin: 10px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003198}}
    .article .text_holder h3 {
      text-align: center;
      font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003202}}
      .article .text_holder h3 a {
        text-decoration: none;
        color: #4b4b57;
        text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003209}}
    .article .text_holder p.info {
      text-align: right;
      line-height: 0.7em;
      font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003215}}
    .article .text_holder p.summary {
      margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003218}}
      .article .text_holder p.summary a {
        text-decoration: none;
        color: #a3a3b1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003226}}
nav.navigation-active {
  display: block; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003231}}
  header {
    width: 83.05085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003234}}
    header .menu-trigger {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003239}}
  nav {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    display: block;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003244}}
    nav .navigation-header {
      display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003249}}
  main {
    width: 83.05085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    border-left: 1px solid #e8e8e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003255}}
  .article .image_holder {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant\/drood\/static\/sass\/drood\.style\.scss}line{font-family:\00003258}}
  .article .text_holder {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 15px; } }
