Django==1.8.1
apt-xapian-index==0.45
argparse==1.2.1
boto==2.38.0
chardet==2.0.1
colorama==0.2.5
dj-database-url==0.3.0
django-herokuapp==0.9.19
django-require==1.0.7
django-require-s3==1.0.0
django-storages==1.1.8
html5lib==0.999
psycopg2==2.6
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
pytz==2015.2
requests==2.2.1
sh==1.11
six==1.5.2
ssh-import-id==3.21
urllib3==1.7.1
virtualenv==1.11.4
waitress==0.8.9
wheel==0.24.0
wsgiref==0.1.2
