{% load staticfiles truncate_smart %}
<section class="article">
    <div class="image_holder">
        {% if article.thumbnail %}
            <img src="{{article.thumbnail.src}}" />
        {% endif %}
    </div>
    <div class="text_holder">
        <h3><a href="{{article.link}}" target="_blank">{{article.title}}</a></h3>
        <p class="info">
            {{article.feed.name}}&nbsp;|&nbsp;
            {{article.publication_date}}
        </p>
        <p class="summary">
            {{article.summary|truncate_smart:250|safe}}
        </p>
    </div>
</section> 